# ASSIGNMENT SOLUTION - NEHA VARMA

In [1]:
#using pandas library for data manipulation and datetime for handling date and time objects
import pandas as pd
from datetime import datetime, timedelta

In [2]:
#reading the excel file into a pandas dataframe
df = pd.read_excel('Assignment_Timecard.xlsx')

PERFORMING PRE-PROCESSING AND EDA ON OUR DATASET TO ASSESS THE QUALITY OF DATA AND BUILD A GOOD MODEL AND GENERATE THE CORRECT OUTPUT

In [3]:
#displaying top 5 observations of the dataset using head() function
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN

In [4]:
#checking we got the whole data by checking last 3 observations using tail() function
df.tail(3)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
1481,WFS000589,Active,2023-09-21 09:56:00,2023-09-21 14:30:00,4:34,2023-09-10,2023-09-23,"WgAyeW, RayCEWd",589,NaN,NaN
1482,WFS000589,Active,2023-09-21 15:00:01,2023-09-21 19:16:05,4:16,2023-09-10,2023-09-23,"WgAyeW, RayCEWd",589,NaN,NaN
1483,WFS000591,Active,NaT,NaT,NaN,NaT,NaT,"ArveXE RECerE, AWdres JesAs",591,NaN,NaN

In [5]:
#checking the datatype of each object in our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1484 non-null   object
 1   Position Status           1484 non-null   object
 2   Time                      1474 non-null   datetime64[ns]
 3   Time Out                  1470 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1474 non-null   object
 5   Pay Cycle Start Date      1474 non-null   datetime64[ns]
 6   Pay Cycle End Date        1474 non-null   datetime64[ns]
 7   Employee Name             1484 non-null   object
 8   File Number               1484 non-null   int64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               1 non-null      object
dtypes: datetime64[ns](4), float64(1), int64(1), object(5)
memory usage: 127.7+ KB

In [6]:
#indentifying null values in each attribute
df.isnull().sum()

Position ID                    0
Position Status                0
Time                          10
Time Out                      14
Timecard Hours (as Time)      10
Pay Cycle Start Date          10
Pay Cycle End Date            10
Employee Name                  0
File Number                    0
Unnamed: 9                  1484
Unnamed: 10                 1483
dtype: int64

In [7]:
#since there are 2 unnamed columns, assuming they don't have any predictive power to predict the output, we drop them from our dataset
df = df.drop(['Unnamed: 9' , 'Unnamed: 10'] , axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1484 non-null   object
 1   Position Status           1484 non-null   object
 2   Time                      1474 non-null   datetime64[ns]
 3   Time Out                  1470 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1474 non-null   object
 5   Pay Cycle Start Date      1474 non-null   datetime64[ns]
 6   Pay Cycle End Date        1474 non-null   datetime64[ns]
 7   Employee Name             1484 non-null   object
 8   File Number               1484 non-null   int64
dtypes: datetime64[ns](4), int64(1), object(4)
memory usage: 104.5+ KB

In [8]:
#handling the missing data by dropping the rows with missing values in relevant columns
df = df.dropna(subset = ['Time' , 'Time Out' , 'Timecard Hours (as Time)'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1470 entries, 1 to 1482
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1470 non-null   object
 1   Position Status           1470 non-null   object
 2   Time                      1470 non-null   datetime64[ns]
 3   Time Out                  1470 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1470 non-null   object
 5   Pay Cycle Start Date      1470 non-null   datetime64[ns]
 6   Pay Cycle End Date        1470 non-null   datetime64[ns]
 7   Employee Name             1470 non-null   object
 8   File Number               1470 non-null   int64
dtypes: datetime64[ns](4), int64(1), object(4)
memory usage: 114.8+ KB

In [9]:
#calculating for employess who have worked for 7 consecutive days

#calculating no. of consecutive days that each employee worked using the diff() function on Time attribute
#grouping it by Employee Name and applying lambda function to check if there is 1 day difference 
con_days_df = df.groupby('Employee Name').apply(lambda group: group['Time'].diff().dt.days == 1).groupby('Employee Name').cumsum()

#extracting employees who have worked for 7 consecutive days
sev_con_days_df = con_days_df[con_days_df == 7].index.get_level_values('Employee Name').tolist()

In [10]:
%%capture captured_output1
#printing name and position of employee who has worked for 7 consecutive days
print("name and position of employee who has worked for 7 consecutive days \n")
for emp in sev_con_days_df:
    emp_row = df[df['Employee Name'] == emp].iloc[0]
    print(f"Name: {emp} , Position: {emp_row['Position ID']}")

In [11]:
#calculating for emp who have <10 hrs of time b/w shifts but >1 hr
df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])
ten_shift_emp = df[(df['Time'].diff() < timedelta(hours = 10))
                  & (df['Time'].diff() > timedelta(hours = 1))]['Employee Name'].unique()

In [12]:
%%capture captured_output2
#printing name and position of employee who have <10 hrs of time b/w shifts but >1 hr
print("name and position of employee who have <10 hrs of time b/w shifts but >1 hr \n")
for emp in ten_shift_emp:
    print(f"Name: {emp} \n Position: {df[df['Employee Name'] == emp]['Position ID'].iloc[0]}")

In [13]:
#calculating for emp who worked for >14 hrs in a single shift
#converting from string format to datetime format
df['Timecard Hours (as Time)'] = pd.to_datetime(df['Timecard Hours (as Time)'], format = '%H:%M', errors = 'coerce').dt.hour * 60 + pd.to_datetime(df['Timecard Hours (as Time)'], format = '%H:%M', errors = 'coerce').dt.minute
long_shift_emp = df[df['Timecard Hours (as Time)'] > 14 * 60]['Employee Name'].unique()

In [14]:
%%capture captured_output3
#printing name and position of employee who worked for >14 hrs in a single shift
print("name and position of employee who worked for >14 hrs in a single shift \n")
for emp in long_shift_emp:
        print(f"Name: {emp} \n Position: {df[df['Employee Name'] == emp]['Position ID'].iloc[0]}")

In [15]:
with open('output.txt', 'w') as f:
    f.write(captured_output1.stdout)
    f.write(captured_output2.stdout)
    f.write(captured_output3.stdout)